@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$background-color: #f4f4f4;
$text-color: #333;
$primary-color: #333;
$link-color: #10b981;


body {
  font-family: 'Poppins', sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
  color: $primary-color;
}

.fadeIn {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: $link-color;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: darken($background-color, 10%);
}
